html,
body {
  overflow-x: hidden;
}
header {
  position: sticky;

  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-family: sans-serif;
  height: 80px;
  z-index: 1;
}
.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  justify-content: end;
  width: 80vw;
}

.nav a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  /* margin-right: 20px; */
  margin: 0 1rem;

  overflow: hidden;
}
.about {
  height: 80vh;
  width: 100vw;
  background-image: url(about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.partion {
  background-color: #ebe4e199;
}

.shop-container {
  display: flex;
  align-items: center;
}

.line,
.shop-now {
  margin: 0;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
}

.line {
  flex: 1;
  height: 1px;
  background: gray;
  margin: 0 10px;
  width: 560px;
}

.shop-now {
  color: black;
  font-size: 12px;
  margin: 0 14px;
}
