.about{

    background-image: url(kf\ 1.png);
    background-position: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; /* Use 'cover' to fill the entire section */
    display: flex;
    justify-content: center; 
    flex-direction: column;
  }
  .partion{

background-color:#EBE4E199;


  }