@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.container2 {
  position: relative;
}
.cpr {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
  position: relative;
  z-index: 2;
}
.drinking {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  /* justify-content: center;  */
  /* gap: 10px; */
  height: 100vh;
  align-items: center;
}

header {
  position: sticky;

  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-family: sans-serif;
  height: 80px;
  z-index: 1;
}
.bg-main {
  background: url(1.png);
  background-size: cover;
  top: 0;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  margin: 0 1rem;

  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }
  .contaire_herue p,
  .contaire_herue h2 {
    font-family: "Irish Grover";
    font-size: 10px;
  }
  .image1 {
    position: absolute;
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
  }
  .cpr p {
    text-align: center;
  }
  .herue {
    font-size: 10px;
  }
  .opeintext h2 {
    border-radius: 10px;
    /* background: rgba(34, 27, 24, 0.6); */
    color: #fff;
    /* padding: 34px 44px; */
    font-size: 10px;
    font-weight: 20;
  }
  .nav {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .nav > a:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  #menu-toggle ~ .nav a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .nav a {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu {
    height: 140vh;
  }
  .menu a,
  h4 {
    display: none;
  }
  .drinking {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    height: auto;
  }

  .drink-container {
    /* Ensure the image takes up the full height of the container */
    display: flex;
    flex-direction: column;
  }

  .image3 {
    height: 100%; /* Set the height of the image to 100% to match the container height */
  }
  .customer {
    width: 100%;
    height: auto;
    /* margin-bottom: 5%; */
  }
  
  .opinions {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

    align-items: center;
    /* margin-top: -15%; */
    height: auto;
  }
  .opeintext {
    display: none;
  }
  .background {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .list-group ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .contact-group ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .contact-group ul .street {
    display: none;
  }
  .Opening_heues {
    background-image: url(kc.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .menu {
    height: 180vh;
  }
  .cpr p {
    text-align: center;
  }
  .menu a,
  h4 {
    display: none;
  }
  .image1 {
    position: absolute;
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
  }
  .herue {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30%;
    flex-wrap: wrap;
  }
  .somaine {
    font-size: 10px;
  }
  .opeintext {
    display: none;
  }
  .opeintext h2 {
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 20;

    .contaire_herue p {
      font-size: 15px;
    }
  }

  .drinking {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    gap: 10px;
    height: auto;
    margin-bottom: 5%;
  }
  .customer {
    width: 100%;
    height: auto;
  }
  .opinions {
    /* display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center; */
    margin-top: 20px;
    height: auto;
  }
  .contaire_herue p {
    font-size: 10px;
  }
}
.overlay-text {
  position: absolute;
  top: 10%;
  padding-top: 10%;
  font-family: sans-serif;
  color: white;
  margin-left: 18%;
}
.line,
h3 {
  margin: 0;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  padding-left: 12px;
  padding-right: 16px;
}
.btn {
  padding: 10px;
  background-color: #b77e66;
  width: 120px;
  height: 35px;
  flex-shrink: 0;
  border: none;
  border-radius: 6px;
  color: white;
  margin-top: 20px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.bar {
  background: white;
  height: 4px;
  width: 30px;
  margin: 4px 0;
  transition: 0.4s;
}

.overlay-text p {
  margin-top: 12px;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 144.5%;
}
.overlay-text h1 {
  font-size: 40px;
  font-family: sans-serif;
}
/* TODO */
.image1 {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
}
.section2 {
  background-image: url("home3.png");
  background-position: center;
  height: 80vh;
  /* width: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Set text color for readability */
  text-align: center; /* Center text horizontally */
}
.section2 h3 {
  color: #471e22;
  font-family: sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/*  */
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30%;
  margin-top: -10%;
}
.text p {
  margin: 0;
  color: #533b2f;
  font-family: sans-serif;
}
.Opening_heues {
  background-image: url(kc.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contaire_herue {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 80px;
}
.contaire_herue p,
.contaire_herue h2 {
  font-family: "Irish Grover";
}
.contaire_herue p {
  font-size: 25px;
  color: #ffff;
}
.somaine {
  margin-bottom: 6px;
}
.opeintext {
  border-radius: 10px;
  /* background: rgba(34, 27, 24, 0.6); */
  color: #fff;
  padding: 34px 44px;
  font-size: 40px;
  font-weight: 400;
}

.herue {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  width: 30%;
  flex-wrap: wrap;
  margin-top: 10px;
}
.drink-container {
  display: flex;
  flex-wrap: wrap; /* Allow drinks to wrap to the next row if needed */
  justify-content: space-between; /* Add space between .drink elements */
}
.drink {
  position: relative;
  background: rgba(115, 74, 57, 0.88);
  box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: fit-content;
  flex-shrink: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 80px; */
  border-radius: 10px;
  margin-top: 10%;
}
.menu {
  background-image: url(menu.png);
  background-position: center;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu a {
  margin-left: 80px;
  font-family: sans-serif;
  text-decoration: underline;
  margin-bottom: -15px;
  font-weight: 600;
  font-size: 50;
  color: #903711;
}
.our {
  text-align: center;
  font-family: sans-serif;
  -webkit-text-stroke: white 0.5px;
  color: #903711;

  font-size: 30px;
}

.capu {
  color: white;
  margin-top: 10px;
  font-family: sans-serif;
  padding-left: 10px;
}

.lorem {
  color: rgba(0, 0, 0, 0.53);
  font-family: sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  margin-left: 10px;
  margin-top: 6px;
  line-height: 16px;
  letter-spacing: 0.16px;
}

.image3 {
  top: 0;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.customer {
  background-image: url(customer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  /*  */
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.opinion {
  border-radius: 3px;
  background: rgba(88, 49, 21, 0.57);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  width: 260px;
  height: 170px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.opinions {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  margin-top: -15%;
  height: 100vh;
}
.title {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  font-family: sans-serif;
}
.line {
  width: 22%;
  height: 1px;
  background: #cbcbcb;
  margin-left: 10px;
}

.map {
  background-image: url(map.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  border: #e3d9d5 solid 15px;
}

footer {
  background-image: url(footer.png);
  width: 100%;
  height: 80vh;
  position: relative;
}
.dark {
  width: 100%;
  height: 100%;
  background: rgba(29, 23, 20, 0.84);
  position: absolute;
}
.background {
  background: transparent;
  color: white;
  padding: 20px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  position: relative;
  z-index: 1;
}

.list-group,
.contact-group {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  font-size: 14px;
  margin: 15px 0;
  font-family: sans-serif;
}
